[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
tqdm = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
